 body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background: #f0f2f5;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      background: #fff;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 360px;
    }
a{
text-decoration: none;
color: white;
font-weight: bold;


}
.title {
color: #1877f2;
font-size: 2rem;
font-weight: bold;
text-align: center;
margin-bottom: 1rem;
}

    form {
      display: flex;
      flex-direction: column;
    }

    input {
      margin: 8px 0;
      padding: 12px;
      font-size: 16px;
      border: 1px solid #dddfe2;
      border-radius: 6px;
      outline: none;
    }

    input:focus {
      border-color: #1877f2;
    }

    .btn-login {
      background-color: #1877f2;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 6px;
      padding: 12px;
      cursor: pointer;
      margin-top: 10px;
      transition: background 0.3s;
      margin-bottom: 5px;
    }

    .btn-login:hover {
      background-color: #166fe5;
    }
.forgotpassword{
      background-color: #1877f2;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 6px;
      padding: 12px;
      cursor: pointer;
      margin-top: 10px;
      transition: background 0.3s;
}

    .forgotpassword:hover {
      background-color: #166fe5;
    }


    .divider {
      text-align: center;
      margin: 1rem 0;
      color: #777;
      position: relative;
    }

    .divider::before, .divider::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 40%;
      height: 1px;
      background: #ccc;
    }

    .divider::before { left: 0; }
    .divider::after { right: 0; }

    .btn-create {
      background-color: #42b72a;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 6px;
      padding: 12px;
      cursor: pointer;
      transition: background 0.3s;
      width: 100%;
    }

    .btn-create:hover {
      background-color: #36a420;
    }

    @media (max-width: 400px) {
      .container {
        padding: 1.5rem;
      }
      .title {
        font-size: 1.7rem;
      }
    }